* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-gap: 2px;
  border: 1px solid black;
}

header nav {
  width: 100%;
  margin-bottom: 7px;
}

header nav ul {
  display: flex;
  width: 100%;
}

header nav ul li {
  align-self: center;
  width: 100%;
  height: 15px;
  background-color: rgb(119, 116, 116);
  color: white;
  font-size: 35px;
  border: 1px solid black;
  list-style: none;
  text-align: center;
  padding: 50px 0 ;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 10px;

}

.container1 div {
  text-align: center;
  padding: 40px 0;
  font-size: 4rem;
  border: 3px solid chartreuse;
}

.firstbox-1 {
  height: 782px;
  background-color: grey;
}

.firstbox-2 {
  height: 782px;
  background-color: rgb(116, 114, 114);
}

.secondbox-1 {
  height: 582px;
  background-color: lightgrey;
}

.secondbox-2 {
  height: 582px;
  background-color: rgb(221, 215, 215);
}

.first-box {
  background-color: grey;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgb(126, 119, 119);
  border: 3px solid black;
  height: 520px;
}

.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box3 {
  border: 1px solid black;
  height: 630px;
  background-color: white;
}

.container4 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.container4-first-child {
  background-color: rgb(48, 45, 45);
  border: 3px solid black;
  height: 824px;
}

.box4 {
  border: 3px solid black;
  height: 824px;
  background-color: rgb(165, 154, 154);
}

.container5 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.box5{
  border: 3px solid chartreuse;

  height: 668px;
}

.container6{
  display: grid;
  grid-template-columns: 1fr;
}

.box6{
  border: 3px solid chartreuse;

  height: 253px;
}

.container7{
  display: grid;
  grid-template-columns: 1fr;
}

.box7{
  border: 3px solid chartreuse;

  height: 1106px;
}

.container8{
  display: grid;
  grid-template-columns: 1fr;
}

.box8{
  border: 3px solid chartreuse;

  height: 1748px;
}

.container9{
  display: grid;
  grid-template-columns: 1fr;
}

.box9{
  border: 3px solid chartreuse;

  height: 415px;
}

.container10{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box9{
  border: 3px solid chartreuse;

  height: 839px;
}

.container11{
  display: grid;
  grid-template-columns: 1fr ;
}

.box11{
  border: 3px solid chartreuse;

  height: 921px;
}

.container12{
  display: grid;
  grid-template-columns: 1fr ;
}

.box12{
  border: 3px solid chartreuse;

  height: 348px;
}

.container13{
  display: grid;
  grid-template-columns: 1fr ;
}

.box13{
  border: 3px solid chartreuse;

  height: 688px;
}
